@use './color-palette' as *;

$blue-base: #1890ff;
$purple-base: #722ed1;
$cyan-base: #13c2c2;
$green-base: #52c41a;
$magenta-base: #eb2f96;
$pink-base: #eb2f96;
$red-base: #f5222d;
$orange-base: #fa8c16;
$yellow-base: #fadb14;
$volcano-base: #fa541c;
$geek-blue-base: #2f54eb;
$lime-base: #a0d911;
$gold-base: #faad14;
$gray-base: #bfbfbf;

$blue-100: color-palette($blue-base, 5, true);
$blue-200: color-palette($blue-base, 4, true);
$blue-300: color-palette($blue-base, 3, true);
$blue-400: color-palette($blue-base, 2, true);
$blue-500: color-palette($blue-base, 1, true);
$blue-600: $blue-base;
$blue-700: color-palette($blue-base, 1, false);
$blue-800: color-palette($blue-base, 2, false);
$blue-900: color-palette($blue-base, 3, false);
$blue-1000: color-palette($blue-base, 4, false);

$purple-100: color-palette($purple-base, 5, true);
$purple-200: color-palette($purple-base, 4, true);
$purple-300: color-palette($purple-base, 3, true);
$purple-400: color-palette($purple-base, 2, true);
$purple-500: color-palette($purple-base, 1, true);
$purple-600: $purple-base;
$purple-700: color-palette($purple-base, 1, false);
$purple-800: color-palette($purple-base, 2, false);
$purple-900: color-palette($purple-base, 3, false);
$purple-1000: color-palette($purple-base, 4, false);

$cyan-100: color-palette($cyan-base, 5, true);
$cyan-200: color-palette($cyan-base, 4, true);
$cyan-300: color-palette($cyan-base, 3, true);
$cyan-400: color-palette($cyan-base, 2, true);
$cyan-500: color-palette($cyan-base, 1, true);
$cyan-600: $cyan-base;
$cyan-700: color-palette($cyan-base, 1, false);
$cyan-800: color-palette($cyan-base, 2, false);
$cyan-900: color-palette($cyan-base, 3, false);
$cyan-1000: color-palette($cyan-base, 4, false);

$green-100: color-palette($green-base, 5, true);
$green-200: color-palette($green-base, 4, true);
$green-300: color-palette($green-base, 3, true);
$green-400: color-palette($green-base, 2, true);
$green-500: color-palette($green-base, 1, true);
$green-600: $green-base;
$green-700: color-palette($green-base, 1, false);
$green-800: color-palette($green-base, 2, false);
$green-900: color-palette($green-base, 3, false);
$green-1000: color-palette($green-base, 4, false);

$magenta-100: color-palette($magenta-base, 5, true);
$magenta-200: color-palette($magenta-base, 4, true);
$magenta-300: color-palette($magenta-base, 3, true);
$magenta-400: color-palette($magenta-base, 2, true);
$magenta-500: color-palette($magenta-base, 1, true);
$magenta-600: $magenta-base;
$magenta-700: color-palette($magenta-base, 1, false);
$magenta-800: color-palette($magenta-base, 2, false);
$magenta-900: color-palette($magenta-base, 3, false);
$magenta-1000: color-palette($magenta-base, 4, false);

$pink-100: color-palette($pink-base, 5, true);
$pink-200: color-palette($pink-base, 4, true);
$pink-300: color-palette($pink-base, 3, true);
$pink-400: color-palette($pink-base, 2, true);
$pink-500: color-palette($pink-base, 1, true);
$pink-600: $pink-base;
$pink-700: color-palette($pink-base, 1, false);
$pink-800: color-palette($pink-base, 2, false);
$pink-900: color-palette($pink-base, 3, false);
$pink-1000: color-palette($pink-base, 4, false);

$red-100: color-palette($red-base, 5, true);
$red-200: color-palette($red-base, 4, true);
$red-300: color-palette($red-base, 3, true);
$red-400: color-palette($red-base, 2, true);
$red-500: color-palette($red-base, 1, true);
$red-600: $red-base;
$red-700: color-palette($red-base, 1, false);
$red-800: color-palette($red-base, 2, false);
$red-900: color-palette($red-base, 3, false);
$red-1000: color-palette($red-base, 4, false);

$orange-100: color-palette($orange-base, 5, true);
$orange-200: color-palette($orange-base, 4, true);
$orange-300: color-palette($orange-base, 3, true);
$orange-400: color-palette($orange-base, 2, true);
$orange-500: color-palette($orange-base, 1, true);
$orange-600: $orange-base;
$orange-700: color-palette($orange-base, 1, false);
$orange-800: color-palette($orange-base, 2, false);
$orange-900: color-palette($orange-base, 3, false);
$orange-1000: color-palette($orange-base, 4, false);

$yellow-100: color-palette($yellow-base, 5, true);
$yellow-200: color-palette($yellow-base, 4, true);
$yellow-300: color-palette($yellow-base, 3, true);
$yellow-400: color-palette($yellow-base, 2, true);
$yellow-500: color-palette($yellow-base, 1, true);
$yellow-600: $yellow-base;
$yellow-700: color-palette($yellow-base, 1, false);
$yellow-800: color-palette($yellow-base, 2, false);
$yellow-900: color-palette($yellow-base, 3, false);
$yellow-1000: color-palette($yellow-base, 4, false);

$volcano-100: color-palette($volcano-base, 5, true);
$volcano-200: color-palette($volcano-base, 4, true);
$volcano-300: color-palette($volcano-base, 3, true);
$volcano-400: color-palette($volcano-base, 2, true);
$volcano-500: color-palette($volcano-base, 1, true);
$volcano-600: $volcano-base;
$volcano-700: color-palette($volcano-base, 1, false);
$volcano-800: color-palette($volcano-base, 2, false);
$volcano-900: color-palette($volcano-base, 3, false);
$volcano-1000: color-palette($volcano-base, 4, false);

$geek-blue-100: color-palette($geek-blue-base, 5, true);
$geek-blue-200: color-palette($geek-blue-base, 4, true);
$geek-blue-300: color-palette($geek-blue-base, 3, true);
$geek-blue-400: color-palette($geek-blue-base, 2, true);
$geek-blue-500: color-palette($geek-blue-base, 1, true);
$geek-blue-600: $geek-blue-base;
$geek-blue-700: color-palette($geek-blue-base, 1, false);
$geek-blue-800: color-palette($geek-blue-base, 2, false);
$geek-blue-900: color-palette($geek-blue-base, 3, false);
$geek-blue-1000: color-palette($geek-blue-base, 4, false);

$lime-100: color-palette($lime-base, 5, true);
$lime-200: color-palette($lime-base, 4, true);
$lime-300: color-palette($lime-base, 3, true);
$lime-400: color-palette($lime-base, 2, true);
$lime-500: color-palette($lime-base, 1, true);
$lime-600: $lime-base;
$lime-700: color-palette($lime-base, 1, false);
$lime-800: color-palette($lime-base, 2, false);
$lime-900: color-palette($lime-base, 3, false);
$lime-1000: color-palette($lime-base, 4, false);

$gold-100: color-palette($gold-base, 5, true);
$gold-200: color-palette($gold-base, 4, true);
$gold-300: color-palette($gold-base, 3, true);
$gold-400: color-palette($gold-base, 2, true);
$gold-500: color-palette($gold-base, 1, true);
$gold-600: $gold-base;
$gold-700: color-palette($gold-base, 1, false);
$gold-800: color-palette($gold-base, 2, false);
$gold-900: color-palette($gold-base, 3, false);
$gold-1000: color-palette($gold-base, 4, false);

$gray-100: color-palette($gray-base, 5, true);
$gray-200: color-palette($gray-base, 4, true);
$gray-300: color-palette($gray-base, 3, true);
$gray-400: color-palette($gray-base, 2, true);
$gray-500: color-palette($gray-base, 1, true);
$gray-600: $gray-base;
$gray-700: color-palette($gray-base, 1, false);
$gray-800: color-palette($gray-base, 2, false);
$gray-900: color-palette($gray-base, 3, false);
$gray-1000: color-palette($gray-base, 4, false);
